<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d8e3">  <td>23/10/19 18:14:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:test_classes.Put_TC1@3f57bcad]">executor</td> 
  <td>main@1430861186</td>   <td></td> </tr>
<tr bgcolor="8a9499">  <td>23/10/19 18:14:33</td>   <td>3384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:test_classes.Post_TC1@58ce9668]">executor</td> 
  <td>main@1430861186</td>   <td></td> </tr>
<tr bgcolor="a3667b">  <td>23/10/19 18:14:35</td>   <td>5007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:test_classes.Get_TC1@172b013]">executor</td> 
  <td>main@1430861186</td>   <td></td> </tr>
<tr bgcolor="899890">  <td>23/10/19 18:14:36</td>   <td>6432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:test_classes.Patch_TC1@56673b2c]">executor</td> 
  <td>main@1430861186</td>   <td></td> </tr>
<tr bgcolor="8dada8">  <td>23/10/19 18:14:29</td>   <td>-709</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Request_Repository.post_TC1_Request()[pri:0, instance:test_classes.Post_TC1@58ce9668]">&gt;&gt;post_TC1_Request</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1430861186</td>   <td></td> </tr>
</table>
